apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Postgres
    type: postgres
    access: proxy
    url: postgres:5432
    user: electricity
    secureJsonData:
      password: electricity
    jsonData:
      database: electricity
      sslmode: disable
      postgresVersion: 1600
      timescaledb: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
